@import '../../variables';

.symbol {
    position: absolute;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
}

.symbolPathXLight {
    fill: $xColorLight;
}

.symbolPathOLight {
    fill: $oColorLight;
}

.symbolPathXDark {
    fill: $xColorDark;
}

.symbolPathODark {
    fill: $oColorDark;
}