/*
 Basic css variables for the whole AppTicTacToe
 */

$mainFont: 0.75rem;

$lightThemeFont: darkslategrey;
$lightThemeBackground: white;
$lightThemeBorder: gray;

$darkThemeFont: lightgray;
$darkThemeBackground: black;
$darkThemeBorder: gray;

$xColorLight: #89bb55;
$xColorDark: #548521;
$oColorLight: #4a9fea;
$oColorDark: #006cb2;